<app-navigation-bar></app-navigation-bar>

<div class="container-2">
  <div fxLayout="row wrap" fxLayoutGap="30px">
    <div fxLayout="column" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.lg="70%" class="table-container">
      <br>
      <div fxFlex fxLayout="row" fxFlex.lg="10%" fxFlex.sm="100%" class="ml-20">
        <h2 fxFlex="94">Participants list</h2>
        <div fxFlex fxFlexAlign="">
          <button mat-icon-button (click)="openDialog()">
            <mat-icon color="primary">person_add</mat-icon>
          </button>
        </div>
      </div>

      <mat-table *ngIf="!loading" [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="full_name">
          <mat-header-cell *matHeaderCellDef> Full Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.full_name}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="date_of_birth">
          <mat-header-cell *matHeaderCellDef> Date of Birth </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.date_of_birth}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef > Email </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let element">&nbsp;&nbsp;{{element.status}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef > Actions </mat-header-cell>
          <mat-cell *matCellDef="let row" class="text-center">
            <mat-icon color="primary" (click)="openDialogEdit(row.id)">create</mat-icon>
            <mat-icon color="primary" (click)="deleteConfirmation(row.id)">delete</mat-icon>
            <mat-icon color="primary" *ngIf="row.status == 'Active'" (click)="disableConfirmation(row.id, 'Inactive')">power_off</mat-icon>
            <mat-icon color="primary" *ngIf="row.status == 'Inactive'" (click)="disableConfirmation(row.id, 'Active')">power_on</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </div>

      <div fxFlex class="settings" fxFlex.lt-sm="100%" fxFlex.md="100%" fxFlex.lg="25%">
        <div fxLayout="column" fxLayoutAlign="center center">
          <br>
          <h2>Participants Report</h2>
          <h2 class="sg-mini-report">2</h2>

          <ngx-avatars name="{{participants}}"
                       bgColor="#FF6E0B"
                       class="sg-avatar"
                       value="28%"
                       size="150" [round]="true">
          </ngx-avatars>

          <br>

          <form novalidate [formGroup]="participantForm" fxLayout="column" fxLayoutAlign="center center" fxFill>
            <mat-form-field fxFlex class="fill mb-75" appearance="outline">
              <mat-select formControlName="unit">
                <mat-option>Unit</mat-option>
                <mat-option value="days">Days</mat-option>
                <mat-option value="hours">Hours</mat-option>
              </mat-select>
              <mat-hint>Shows participant according to the selected unit of time</mat-hint>
            </mat-form-field>


            <mat-form-field fxFlex class="fill mb-50" appearance="outline">
              <input matInput placeholder="Number" formControlName="number">
            </mat-form-field>
          </form>

          <button mat-flat-button color="primary" (click)="onSubmit()">Show</button>
          <br><br><br>

          <div fxFlex fxFlexAlign="center" class="mt-25-i container-2">
            <p align="center">Currently showing: Participants registered the last {{this.participantForm.value.number}} {{this.participantForm.value.unit}}</p>
          </div>
          <br><br>
        </div>
      </div>
  </div>
</div>

<br>
<app-footer-bar></app-footer-bar>
