<div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex>
      <img src="assets/img/1200x600.png" width="220">
    </div>

    <form fxLayout="column" fxLayoutAlign="center center" fxFill>
      <mat-form-field fxFlex class="fill mb-50" appearance="outline">
        <input matInput placeholder="Email">
      </mat-form-field>

      <mat-form-field fxFlex class="fill mb-50" appearance="outline">
        <input matInput placeholder="First Name">
      </mat-form-field>

      <mat-form-field fxFlex class="fill mb-50" appearance="outline">
        <input matInput placeholder="Family Name">
      </mat-form-field>

      <mat-form-field fxFlex class="fill mb-50" appearance="outline">
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex class="fill mb-50" appearance="outline">
        <input matInput placeholder="Password" type="password">
      </mat-form-field>
    </form>
  </div>

  <div mat-dialog-actions fxLayout="row">
    <button mat-flat-button mat-dialog-close cdkFocusInitial fxFlex>Submit</button>
    <button mat-flat-button mat-dialog-close fxFlex>Close</button>
  </div>
  <br>
</div>

