<div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex>
      <img src="assets/img/1200x600.png" width="220">
    </div>

    <form *ngIf="!loading" novalidate fxLayout="column" fxLayoutAlign="center center" fxFill [formGroup]="participantForm">
      <mat-form-field fxFlex class="fill mb-50" appearance="outline">
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>

      <mat-form-field fxFlex class="fill mb-50" appearance="outline">
        <input matInput placeholder="First Name" formControlName="first_name">
      </mat-form-field>

      <mat-form-field fxFlex class="fill mb-50" appearance="outline">
        <input matInput placeholder="Family Name" formControlName="last_name">
      </mat-form-field>

      <mat-form-field fxFlex class="fill mb-50" appearance="outline">
        <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="date_of_birth">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex class="fill mb-100" appearance="outline">
        <input matInput placeholder="Password" type="password" formControlName="password">
        <mat-hint>Password should contain at least 8 characters, one lowercase letter, one uppercase letter,
          one number, and one special character</mat-hint>
      </mat-form-field>

    </form>
  </div>

  <div dir="ltr" *ngIf="!participantForm.valid && participantForm.dirty">
    <h5>ERRORS: <br *ngIf="formErrors.email">{{formErrors.email}}
      <br *ngIf="formErrors.first_name">{{formErrors.first_name}}
      <br *ngIf="formErrors.last_name">{{formErrors.last_name}}
      <br *ngIf="formErrors.password">
      {{formErrors.password}}</h5>
  </div>

  <div mat-dialog-actions fxLayout="row">
    <button mat-flat-button cdkFocusInitial fxFlex (click)="onSubmit()" class="submit">Submit</button>
    <button mat-flat-button mat-dialog-close fxFlex class="close">Close</button>
  </div>
  <br>
</div>

