<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center" class="y">
    <div fxFlex fxFlexAlign="center">
      <div fxFlex class="promotion-col">
        <br><br>
        <div fxLayout="column" fxLayoutAlign="center center">
          <div fxFlex>
            <ngx-avatars src="assets/img/filters_no_upscale.png" size="350" [round]="$any(false)"></ngx-avatars>
          </div>
          <div fxFlex class="white-text mt-25-i">
            Event management software, services and technology
          </div>
          <div fxFlex class="white-text mt-5 text-bold mb-25">
            Face To Face - Hybrid - Virtual
          </div>
        </div>
      </div>
      <div fxFlex class="login-col">
        <div fxLayout="column" fxLayoutAlign="center center">
          <div fxFlex>
            <br><br>
            <img src="assets/img/1200x600.png" width="220">
          </div>

          <div fxFlex>
            <h1>Welcome!</h1>
            <p>
              You have been logged on as:
              <br><br>
              <b>Email:</b> hyperschnell11@outlook.sk
              <br>
              <b>Full Name:</b> Frank Hesse
              <br>
              <b>Date of Birth:</b> 1999-08-01
              <br><br>
            </p>
          </div>

          <button mat-flat-button color="primary">Logout</button>
          <br><br><br>

        </div>
      </div>
    </div>

  </div>
</div>
