/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0px;
}

@media (max-width: 992px){
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}

/* Text */

.white-text {
  color: white;
}

.text-bold {
  font-weight: bold;
}

/* Buttons */
#sg .mat-flat-button.mat-primary {
  background-color: #FF6E0B;
}

#sg .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #FF6E0B;
}

#sg .mat-calendar-body-selected {
  background-color: #FF6E0B;
}

#sg .mat-label {
  color: #FF6E0B;
}

#sg .mat-input-element {
  caret-color: #FF6E0B;
}

#sg .mat-datepicker-toggle-active {
  color: #FF6E0B;
}

#sg .mat-icon.mat-primary {
  color: #FF6E0B;
}

@media (hover:hover) {
  .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical){
    background-color: rgba(255, 110, 11, 0.3);
  }
}

.cdk-keyboard-focused .mat-calendar-body-active>mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical){
  background-color: rgba(255, 110, 11, 0.3);
}

#sg .mat-toolbar-row, .mat-toolbar-single-row{

}

/* Margin */

.mt-25-i {
  margin-top: -25px;
}

.mt-10-i {
  margin-top: -10px;
}

.mt-5 {
  margin-top: 5px;
}

.ml-20 {
  margin-left: 20px;
}

.mb-25 {
  margin-bottom: 12px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-75 {
  margin-bottom: 75px;
}

.container
{
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container
  {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container
  {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container
  {
    width: 1170px;
  }

  .container-2
  {
    padding-right: 65px;
    padding-left: 65px;
    margin-right: auto;
    margin-left: auto;
  }
}

.promotion-col {
  background-color: #FF6E0B;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Ipads and tablets */
@media (max-width: 992px){
  .promotion-col {
    display: none;
  }

  .mr-25{
    margin-right: 30px;
  }
}

/* PCs */
@media (min-width: 992px){
  .mr-25{
    margin-right: 60px;
  }

  .login-col {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.fill {
  display: block;
  width: 80%;
  height: 26px;
  font-size: 1em;
}


a {
  color: #FF6E0B;
}

form {
  min-height: 100%;
}

.center {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.semi-center {
  position: relative;
  top: 35%;
  transform: translate(0, -35%);
}
